.catalog-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter button {
    color: #FAFAFA;
    background: #402F2C;
    padding: 10px;
}

.search-input {
    padding: 10px 20px;
    border: #402F2C solid 1px;
}