html {
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
}

body {
    background: #FFF;
    font-family: 'Red Hat Display', sans-serif;
    color: #555;
    padding: 30px 20px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

@media screen and (max-width: 985px) {
    h1 { font-size: 3.5rem; }
    h2 { font-size: 2.2rem; }
    h3 { font-size: 1.6rem; }
    body { font-size: 0.95rem; }
}

@media screen and (max-width: 750px) {
    h1 { font-size: 3rem; }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.4rem; }
    body { font-size: 0.875rem; }
}

@media screen and (max-width: 500px) {
    h1 { font-size: 2.5rem; }
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.2rem; }
    body { font-size: 0.75rem; }
}


a {
    text-decoration: none;
    color: #222;
    transition: .3s ease;
}

li {
    display: block;
    font-size: 1.25rem;
}

ul, ol {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

::placeholder {
    color: black;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.hero-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background: #402F2C;
    color: #fff;
    line-height: 1.33;
}