.popular {
    padding: 0 0 72px;
}

.popular-desc h2{
    color: #000;
    font-weight: 500;
    line-height: 1.25;
}

.popular-desc p {
    color: #555;
    line-height: 1.6;
    max-width: 700px;
}

.cards-box {
    padding: 53px 0 73px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.more {
    display: flex;
    margin-left: auto;
    background: #402F2C;
    color: #fff;
    padding: 10px 20px;
}